@model CarrinhoCompraViewModel

@if(Model.carrinhoCompra.CarrinhoCompraItens.Count > 0){
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <span>
            <img src="~/images/cart-5-16.ico">
            <span style="color:white">
                @Model.carrinhoCompra.CarrinhoCompraItens.Count
            </span>
        </span>
    </a>
}